body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #DEB887;
    background-size: cover;
    text-align: center;
}

table {
    width: 30%;
    margin: auto;
    border-collapse: collapse;
}

td {
    width: 33.333%;
    border: 6px solid #222;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}
td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

td:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
}
td:nth-of-type(2) {
    border-top-color: transparent;
}
td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
}
tr:nth-of-type(3) td {
    border-bottom-color: transparent;
}

